@import "fonts.css";
@import "variables.css";
@import "defaults.css";
@import "utility-classes.css";
@import "top-bar.css";
@import "nav.css";
@import "breadcrumb.css";
@import "course-box.css";
@import "pagination.css";
@import "footer.css";

/* ============= Main ============= */
.main {
  margin: 4rem 0;
}

/* ============= Section: Course Info ============= */
.course-info {
  padding: 2rem 0;
}
.course-info__wrapper {
  display: flex;
}

.course-info__right {
  width: 50%;
}

.course-info__link {
  font-size: 1.2rem;
  color: var(--primary-color);
  border-radius: 0.3rem;
  padding: 0.4rem 1rem;
  background-color: rgba(43, 206, 86, 0.2);
}

.course-info__title {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 2.4rem;
  color: #464749;
}

.course-info__caption {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  color: #7b868a;
}

.course-info__socials {
  display: flex;
  gap: 1.2rem;
}

.course-info__socials-link {
  color: #b1bbbf;
  transition: all 400ms ease;
}

.course-info__socials-link svg {
  font-size: 2.2rem;
}

.course-info__left {
  width: 50%;
}

.course-info__video {
  width: 100%;
  border-radius: 1rem;
}

/* ============= Course Wrapper ============= */
.course-content__wrapper {
  display: flex;
}

.course-main-content {
  width: 65%;
}

/* ============= Section:Course Stats ============= */
.course-stats__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course-stats__box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1.8rem 2rem;
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
}

.course-stats__box svg {
  font-size: 3.5rem;
  color: var(--primary-color);
}

.course-stats__details {
  display: flex;
  flex-direction: column;
}

.course-stats__title {
  font-size: 1.6rem;
  color: #858c96;
}

.course-stats__subtitle {
  font-size: 1.6rem;
  color: #858c96;
}

/* ============= Section: Progress Bar ============= */
.course-progress {
  border-radius: 1rem;
  margin: 3rem 0;
  padding: 2rem 2rem 1.2rem 2rem;
  background-color: #f0f2f7;
}

.course-progress__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.course-progress__header svg {
  font-size: 2.5rem;
  color: #7b868a;
}

.course-progress__title {
  color: #7b868a;
  font-size: 1.5rem;
}

.progress-bar {
  background-color: #1fbd50;
}

/* ============= Section: Course Description ============= */
.course-description {
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
}

.course-description__img {
  display: block;
  width: 100%;
  margin-top: 3rem;
  border-radius: 1rem;
}

.course-description__caption {
  margin-top: 2rem;
  color: #7a7a7a;
  font-size: 1.5rem;
}

.course-description__buttons {
  margin-top: 4rem;
}

.course-description__buttons-link {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.course-description__buttons-link:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* ============ Section: Course Accordion ============ */
.description__topic {
  margin-top: 4rem;
}

.accordion-item {
  background-color: #f7f9fa;
  margin-bottom: 2rem;
  border-radius: 0.5rem !important;
  overflow: hidden;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-button {
  background-color: #f7f9fa;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.accordion-button::after {
  position: absolute;
  left: 1.5rem;
  width: 2rem;
  height: 2rem;
  background-position: center;
}

.accordion-button:not(.collapsed) {
  background-color: #f7f9fa;
}

.description__topic-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #f4f6f8;
}

.description__topic-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.description__topic-right svg {
  color: #7a7a7a;
  font-size: 1.7rem;
}

.description__topic-count {
  width: 3.5rem;
  height: 3.5rem;
  border: solid 1px #b1bbbf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #464749;
}

.description__topic-link {
  font-size: 1.5rem;
  color: #464749;
}

.description__topic-time {
  font-size: 1.5rem;
  color: #464749;
}

/* ============= Section: Teacher Details ============= */
.teacher-details {
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
}

.teacher-details__header {
  display: flex;
  justify-content: space-between;
}

.teacher-details__right {
  display: flex;
  align-items: center;
}

.teacher-details__img {
  width: 62px;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 20px #00000021;
}

.teacher-details__titles {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.teacher-details__name {
  color: #7b868a;
}

.teacher-details__skills {
  color: #7b868a;
  font-size: 1.2rem;
}

.teacher-details__role {
  display: flex;
  align-items: center;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.teacher-details__role svg {
  font-size: 1.8rem;
}

.teacher-details__role-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 0.4rem;
}

.teacher-details__footer {
  margin-top: 1rem;
  color: #7b868a;
  font-size: 14px;
}

/* ============= Sidebar ============= */
.course-sidebar {
  width: 35%;
}
