@import "fonts.css";
@import "variables.css";
@import "defaults.css";
@import "utility-classes.css";
@import "top-bar.css";
@import "nav.css";
@import "course-box.css";
@import "footer.css";

/* ================ Section: Landing ================ */
.landing {
  text-align: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5)),
    linear-gradient(rgba(0, 0, 0, 0.5)),
    url("../images/background_landing.jfif") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-color);
  padding: 10rem 0;
}

.landing__title {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.landing__caption {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.landing__search {
  position: relative;
  margin: 2rem auto;
  width: 70rem;
}

.landing__search-input {
  width: 100%;
  border-radius: 1rem;
  padding: 2.5rem 2.5rem 2.5rem 8rem;
  border: none;
}

.landing__search-btn {
  position: absolute;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 1rem;
  width: 6rem;
  height: 6rem;
  left: 0.8rem;
  top: 0.8rem;
}
.landing__search-btn svg {
  font-size: 3rem;
}

.landing__status {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}

.landing__status-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing__status-item svg {
  fill: var(--white-color);
}

.landing__count {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.landing__info {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

/* ================ Section: Courses ================ */
.courses {
  margin: 4rem 0;
}

.courses-header {
  display: flex;
  justify-content: space-between;
}

.courses-header__right {
  display: flex;
  flex-direction: column;
}

.courses-header__link:hover {
  color: var(--white-color);
}

/* ================ Section: About Us ================ */
.about-us {
  margin: 4rem 0;
}

.about-us__header {
  display: flex;
  flex-direction: column;
}

.about-us__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

.about-us__box {
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 2rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 11rem;
}

.about-us__box svg {
  font-size: 5.5rem;
  color: #6d6d6d;
}

.about-us__box-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.about-us__box-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.about-us__box-caption {
  color: #212529;
  font-size: 1.5rem;
}

/* ================ Section: Popular ================ */
.popular {
  margin: 4rem 0;
}

.popular .popular__header,
.presell .presell__header {
  margin-bottom: 2rem;
}

.popular .course-box,
.presell .course-box {
  transform: none;
}

/* ================ Section: Articles ================ */
.articles {
  margin: 4rem 0;
}

.articles-header {
  display: flex;
  justify-content: space-between;
}

.articles-header__right {
  display: flex;
  flex-direction: column;
}

.articles-header__link:hover {
  color: var(--white-color);
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Article Box */
.article-box {
  border-radius: 1rem;
  background-color: var(--white-color);
  box-shadow: 0 0 19px rgba(168, 172, 185, 0.3);
  margin: 2rem 0;
  transition: all 400ms ease;
  padding: 1rem 2rem 3rem 2rem;
}

.article-box:hover {
  transform: translateY(-1rem);
}

.article-box__img {
  width: 100%;
}

.article-box__title {
  font-weight: 600;
  font-size: 1.5rem;
}

.article-box__caption {
  font-size: 1.2rem;
  height: 4rem;
  margin: 2rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-box__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 4rem;
  border: solid 2px var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
  transition: all 400ms ease;
}

.article-box__btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* ================ Swiper Styles ================ */
.swiper-pagination-bullet {
  background-color: var(--primary-color);
  width: 1.2rem;
  height: 1.2rem;
}

.swiper-pagination {
  position: static;
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50% !important;
}
